extends ../layout.jade
block contenido
 div(class="administrador") 
    link(rel="stylesheet" href="/javascripts/logica_de_control_de_acceso/gestionUsuarios.css")
    
    div(class="dropdown div") 
        label
            a(href="/paginaPrincipal") inicio/ 
            label admnistrador
        button( class="button btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")  #{nombreUsuario}  
            div(class="dropdown-menu col-lg-12 bg-dark "  aria-labelledby="dropdownMenuButton") 
                center
                    a(class="dropdown-item a" href="#" ) #{correoSena}    
    form(action="/borrarSesion"  method="post")                        
        button( class="cerrar btn btn-danger cerrar" title="Cerrar sesión"  style="border-radius:100px; font.size:25px;" type="submit" onclick='if (! confirm("esta seguro de Cerrar sesión")) return false;' ) 
                ion-icon(name="logo-xbox")        
    //- center
    //-     div(style="color:green;pading:100px;; "  )
    //-           p     Hola creo que asi 
    //-           p funciono el texto 
    //-           p #{nombre} #{correo} #{id} #{correo}#{tipoId} #{nId}
        
    br
    br
    br
    form(action="/tipoUsuario" class="w3-container" method="post" )  
        center        
            div(class="input-group col-lg-12 col-sm-12 col-xl-12 col-xm-12" )
         
                label(value="rol" class="col-lg-4 col-sm-4 col-xl-4 col-xm-4" style="text-align:right;") rol:
                input(disabled="true" name="perfil"  value="admiistrador" class="form-control col-lg-4 col-sm-4 col-xl-4 col-xm-4"  style="border-radius:20px;" )
                              
                button(disabled="true" style="border-radius:100px; background-color:#0062cc; width:40px;height40px" type="submit") 
                    ion-icon(name="logo-ionitron")
    
    br
    br
    br
    br

    center #{tipoUsuario}
        div(class="col-lg-12 col-sm-12 col-xl-12 col-xm-12")
                               
            a(href="/gestion_de_programas_de_formacion/edicion_programas_de_formacion" class="btn btn-primary") Edicion de programas de formacion
            a(href="/gestion_de_competencia/edicion_competencias" class="btn btn-primary") Edicion de competencias
            a(href="/gestion_de_ruta_de_aprendizaje" class="btn btn-primary") Edicion de ruta de aprendizaje
            a(href="/gestion_de_la_formacion_instructor_ficha" class="btn btn-primary") Asignar formacion a ficha
            a(href="/crear_fichas" class="btn btn-primary") Crear fichas
            a(href="/asignar_aprendices_fichas" class="btn btn-primary") Asignar aprendices a fichas
            
            div( class="dropdown")
                button( class="btn btn-primary" type="button" data-toggle="dropdown") Gestionar perfiles
                    span(class="caret")
                ul(class="dropdown-menu")
                    li()
                        a(  class="btn btn-outline-warning"  href="/gestion_perfiles/listar_usuarios_perfil" class="btn btn-primary") Crear un perfil al usuario
                        a( class="btn btn-outline-warning" href="/gestion_perfiles/usuarios" class="btn btn-primary") Actualiza estado del perfil
    
scribrpt(src="/javascripts/logica_de_control_de_acceso/gestionUsuarios.js")
