extends ../layout.jade
block contenido
   div(class="aprendiz") 
    //- link(rel="stylesheet" href="/javascripts/logica_de_control_de_acceso/gestionUsuarios.css")
    div(class="dropdown div") 
        label
            a(href="/paginaPrincipal") inicio/ 
            label aprendiz
      
    //- center
    //-     div(style="color:green;pading:100px;; "  )
    //-           p     Hola creo que asi 
    //-           p funciono el texto 
    //-           p #{nombre} #{correo} #{id} #{correo}#{tipoId} #{nId}
        
    br
    br
    br
    form(action="/tipoUsuario" class="w3-container" method="post" )  
        center        
            div(class="input-group col-lg-12 col-sm-12 col-xl-12 col-xm-12" )
         
                label(value="rol" class="col-lg-4 col-sm-4 col-xl-4 col-xm-4" style="text-align:right;") rol:
                input(disabled="true" name="perfil"  value="aprendiz" class="form-control col-lg-4 col-sm-4 col-xl-4 col-xm-4"  style="border-radius:20px;" )
                              
                button(style="border-radius:100px; background-color:#0062cc; width:40px;height40px" type="submit" disabled="true") 
                    ion-icon(name="logo-ionitron")

    br
    br
    br
    br

    center
        div(class="col-lg-12 col-sm-12 col-xl-12 col-xm-12")
        img(src="https://img.icons8.com/ios-filled/50/000000/edit-property.png")
        a(href="/juicios_evaluativos/ver_mis_notas" class="btn btn-primary") Ver mis notas
                                                 
    br
    br
    br
    br
    br        
    br    
    br        
    br                        
            
                 
            
        
            

script(src="/javascripts/logica_de_control_de_acceso/gestionUsuarios.js")
