extends ../layout.jade
block contenido
    link(rel="stylesheet" href="/javascripts/logica_de_control_de_acceso/gestionUsuarios.css")

    //- center
    //-     div(style="color:green;pading:100px;; "  )
    //-           p     Hola creo que asi 
    //-           p funciono el texto 
    //-           p #{nombre} #{correo} #{id} #{correo}#{tipoId} #{nId}
        
    br
    br
    br
    form(action="/tipoUsuario" class="w3-container" method="post" )  
        center        
            div(class="input-group col-lg-12 col-sm-12 col-xl-12 col-xm-12" )
         
                if perfilesUsuario.length == 0
                    center
                        h1( class="text-muted col-lg-4 col-sm-4 col-xl-4 col-xm-4"  style="line-height: 1.5em;font:500% sans-serif; font-size:5vw;  border-width: 5px; padding: 70px; border-style: solid;border-color:#6c757d!important ;border-radius:50px;opacity: 0.9" ) No tiene un perfil asignado informe al administrador
                            i(class="fas fa-thumbs-up")
                else
                    label(value="rol" class="col-lg-4 col-sm-4 col-xl-4 col-xm-4" style="text-align:right;") rol:
                
                    select(name="perfil" class="form-control col-lg-4 col-sm-4 col-xl-4 col-xm-4"  style="border-radius:20px;" )
                                each perfil in perfilesUsuario
                                    option( value="#{perfil.id_administrar_perfil}" )= perfil.tipo_rol  
                    button(style="border-radius:100px; background-color:#0062cc; width:40px;height40px" type="submit") 
                        ion-icon(name="logo-ionitron")


                            
                            
                 
            
        
            

script(src="/javascripts/logica_de_control_de_acceso/gestionUsuarios.js")
//-  display: block;
//-   width: 100%;
//-   height: $input-height;
//-   padding: $input-padding-y $input-padding-x;
//-   font-size: $font-size-base;
//-   line-height: $input-line-height;
//-   color: $input-color;
//-   background-color: $input-bg;
//-   background-clip: padding-box;
//-   border: $input-border-width solid $input-border-color;























