doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")  
        script(src = "https://unpkg.com/ionicons@4.5.5/dist/ionicons.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")      
        title= title                              
    body(onload=onload ? "myFunction()":"" )
        - var active = ''
        - var dirrecion = ''
        if locals.options
            if locals.options.chGlobal.perfil == 'administrador'
                nav(class="navbar navbar-expand-sm bg-dark navbar-dark") 
                    div( class="container-fluid")
                        div(div class="navbar-header") 
                            a(class="navbar-brand" href="/tipoUsuario" )  
                                ion-icon(size="large" name="analytics" width="30" height="30")
                                | Administrador
                            a(class="navbar-brand"  href="/paginaPrincipal") 
                                ion-icon(size="small" name="home" width="30" height="30")
                                | Inicio
                        ul( class="navbar-nav")
                            li( class="nav-item dropdown")
                                
                                - if(locals.options.chGlobal.direccion !== undefined){ active = locals.options.chGlobal.direccion.split('/')[1] == 'gestion_perfiles'?'active':''       }            
                                a(class="nav-link dropdown-toggle #{active}" href="#" id="navbardrop" data-toggle="dropdown") Gestionar perfiles     
                                div(class="dropdown-menu ")
                                    - active = locals.options.chGlobal.direccion == '/gestion_perfiles/listar_usuarios_perfil'?'active':''                   
                                    a( class="dropdown-item #{active}" href="/gestion_perfiles/listar_usuarios_perfil" ) Crear un perfil al usuario
                                    - active = locals.options.chGlobal.direccion == "/gestion_perfiles/usuarios"?'active':''                   
                                    a( class="dropdown-item #{active}" href="/gestion_perfiles/usuarios" ) Actualiza estado del perfil
  
                            li( class="nav-item")
                                - dirrecion = "/gestion_de_programas_de_formacion/edicion_programas_de_formacion" 
                                - active = locals.options.chGlobal.direccion == '/gestion_de_programas_de_formacion/edicion_programas_de_formacion'?'active':''
                                a( class="nav-link #{active}" href="#{dirrecion}" ) Edicion de programas de formacion

                            li( class="nav-item dropdown")
                                -  if(locals.options.chGlobal.direccion == '/gestion_de_competencia/edicion_competencias'){active ='active'}else if(locals.options.chGlobal.direccion == '/gestion_de_ruta_de_aprendizaje'){active = 'active'}  else{ active=''}                                    
                                a(class="nav-link dropdown-toggle #{active}" href="#" id="navbardrop" data-toggle="dropdown") Gestionar ruta de aprendizaje
                                div(class="dropdown-menu")
                                    - active = locals.options.chGlobal.direccion == '/gestion_de_ruta_de_aprendizaje'?'active':''                   
                                    a(href="/gestion_de_ruta_de_aprendizaje" class="dropdown-item #{active}") Edicion de ruta de aprendizaje     
                                    - active = locals.options.chGlobal.direccion == '/gestion_de_competencia/edicion_competencias'?'active':''                   
                                    a(href="/gestion_de_competencia/edicion_competencias" class="dropdown-item #{active}") Edicion de competencias                       
                            li( class="nav-item dropdown")
                                -  if(locals.options.chGlobal.direccion == '/crear_fichas'){active ='active'}else if(locals.options.chGlobal.direccion == '/asignar_aprendices_fichas'){active = 'active'} else if(locals.options.chGlobal.direccion == '/gestion_de_la_formacion_instructor_ficha'){active = 'active'} else{ active=''}                                    

                                a(class="nav-link dropdown-toggle #{active}" href="#" id="navbardrop" data-toggle="dropdown") Gestionar fichas
                                div(class="dropdown-menu")                               
                                    - active = locals.options.chGlobal.direccion == '/crear_fichas'?'active':''                                                       
                                    a(href="/crear_fichas"  class="dropdown-item #{active}") Crear fichas
                                    - active = locals.options.chGlobal.direccion == '/asignar_aprendices_fichas'?'active':''                                                       
                                    a(href="/asignar_aprendices_fichas"  class="dropdown-item #{active}") Asignar aprendices a fichas
                                    - active = locals.options.chGlobal.direccion == '/gestion_de_la_formacion_instructor_ficha'?'active':''                                                       
                                    a(href="/gestion_de_la_formacion_instructor_ficha"  class="dropdown-item #{active}") Asignar formacion a ficha

                        ul( class="nav navbar-nav navbar-right ")
                            li
                                p( class="navbar-brand")
                                  ion-icon( name="person")
                                  | #{locals.options.chGlobal.nombreUsuario}
                            li
                                form(action="/borrarSesion"  method="post")                        
                                    button(  title="cerrar sesion"  style="border-radius:100px; font.size:25px;" type="submit" onclick='if (! confirm("esta seguro de cerrar la sesion")) return false;' ) 
                                        ion-icon(name="log-out")
                     
            else if locals.options.chGlobal.perfil == 'aprendiz'
                nav(class="navbar navbar-expand-sm  bg-success navbar-dark" )   
                    div( class="container-fluid")
                        div(div class="navbar-header") 
                            a(class="navbar-brand" href="/tipoUsuario" )  
                                ion-icon(size="large" name="school" width="30" height="30")
                                | Aprendiz
                            a(class="navbar-brand"  href="/paginaPrincipal") 
                                ion-icon(size="small" name="home" width="30" height="30")
                                | Inicio
                        ul( class="navbar-nav")
                            li(class="nav-item")
                                a( class="nav-link" href="/juicios_evaluativos/ver_mis_notas" ) 
                                    ion-icon( name="list-box")
                                    | Ver mis notas

                        ul( class="nav navbar-nav navbar-right ")
                            li
                                p( class="navbar-brand")
                                  ion-icon( name="person")
                                  | #{locals.options.chGlobal.nombreUsuario}
                            li
                                form(action="/borrarSesion"  method="post")                        
                                    button(  title="cerrar sesion"  style="border-radius:100px; font.size:25px;" type="submit" onclick='if (! confirm("esta seguro de cerrar la sesion")) return false;' ) 
                                        ion-icon(name="log-out")

            else if locals.options.chGlobal.perfil == 'instructor'
                nav(class="navbar navbar-expand-sm navbar-dark bg-primary")  
                    div( class="container-fluid")
                        div(div class="navbar-header") 
                            a(class="navbar-brand" href="/tipoUsuario" )  
                                ion-icon(size="large" name="briefcase" width="30" height="30")
                                | Instructor
                            a(class="navbar-brand"  href="/paginaPrincipal") 
                                ion-icon(size="small" name="home" width="30" height="30")
                                | Inicio

                        ul( class="navbar-nav")
                            li(class="nav-item")
                                a( class="nav-link" href="/juicios_evaluativos" )  
                                    ion-icon( name="clipboard")
                                    | Asignar notas                                                              
                        
                        ul( class="nav navbar-nav navbar-right ")
                            li
                                p( class="navbar-brand")
                                  ion-icon( name="person")
                                  | #{locals.options.chGlobal.nombreUsuario}
                            li
                                form(action="/borrarSesion"  method="post")                        
                                    button(  title="cerrar sesion"  style="border-radius:100px; font.size:25px;" type="submit" onclick='if (! confirm("esta seguro de cerrar la sesion")) return false;' ) 
                                        ion-icon(name="log-out")
            else 
                nav(class="navbar navbar-expand-sm navbar-dark  bg-secondary")   
                    div( class="container-fluid")
                        div(div class="navbar-header") 
                            a(class="navbar-brand" href="/tipoUsuario" )  
                                ion-icon(size="large" name="people" width="30" height="30")
                                | Seleccionar perfil

                        ul( class="navbar-nav")
                        
                        ul( class="nav navbar-nav navbar-right ")
                            li
                                p( class="navbar-brand")
                                  ion-icon( name="person")
                                  | #{locals.options.chGlobal.nombreUsuario}
                            li
                                form(action="/borrarSesion"  method="post")                        
                                    button(  title="cerrar sesion"  style="border-radius:100px; font.size:25px;" type="submit" onclick='if (! confirm("esta seguro de cerrar la sesion")) return false;' ) 
                                        ion-icon(name="log-out")
        else
            nav(class="navbar navbar-light bg-secondary")   
               div( class="container-fluid")
                        div(div class="navbar-header") 
                            a(class="navbar-brand" href="/tipoUsuario" )  
                                ion-icon(size="large" name="walk" width="30" height="30")
                                | Visitante
            
        //- p el valor es: #{locals.options.chGlobal.perfil}

                    
block contenido
